<div style="width: 80%; margin: 0 auto;">
  <div class="panel panel-primary card" ng-repeat="movie in view.data.data.Search" style="width:300px; height: 200px; display: inline-block; margin: 10px; vertical-align: top;" ng-click="movieDetails(movie.Title)">
    <div class="panel-heading">

      <div class="panel-title" ng-model="title">{{movie.Title}}</div>

    </div>
    <div class="panel-body">
      <img src={{movie.Poster}} style="height:100px; width: 70px;">
      <p style="float: right">Year: {{movie.Year}}</p>
      <p style="float:right; clear: right;">Type: {{movie.Type}}</p>

    </div>
  </div>
</div>
