<h1>Movie View</h1>
<div>Title: {{view.data.data.Title}}</div>
<div>Year: {{view.data.data.Year}}</div>
<div>Rated: {{view.data.data.Rated}}</div>
<div>Released: {{view.data.data.Released}}</div>
<div>Runtime: {{view.data.data.Runtime}}</div>
<div>Genre: {{view.data.data.Genre}}</div>
<div>Director: {{view.data.data.Director}}</div>
<div>Writer: {{view.data.data.Writer}}</div>
<div>Actors: {{view.data.data.Actors}}</div>
<div>Plot: {{view.data.data.Plot}}</div>
<div>Language: {{view.data.data.Language}}</div>
<div>Country: {{view.data.data.Country}}</div>
<div>Awards: {{view.data.data.Awards}}</div>
<div>Poster: {{view.data.data.Poster}}</div>
<div>Metascore: {{view.data.data.Metascore}}</div>
<div>imdbVotes: {{view.data.data.imdbVotes}}</div>
<div>imdbID: {{view.data.data.imdbID}}</div>
