#myModal {
  padding: 20px;
}
.img {
  height: 100px;
  width: 120px;
  display:inline-block;
}
.card {
  border: 1px solid black;
  width: 100%;
  box-shadow: -24px 18px 26px -1px rgba(0,0,0,0.42);
  padding: 10px;
}
.infoContainer {
  /*display: inline-block;*/
}
.voteContainer {
  display: inline-block;
  float: right;
}
