<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <input type="text" placeholder="What is your name?" ng-model="name">
  <p ng-init="name= 'Bo Jackman'">My name is: {{ name }}</p>


    <form name="myForm">
      <label for="singleSelect">Select One: </label>
      <select ng-model="value">
        <option value="Cats">Cats</option>
        <option value="Dogs">Dogs</option>
        <option value="Cats and Dogs">Cats and Dogs</option>
        <option value="NOTHING. im a miserable wretch.">Neither</option>
      </select>
    </form>

  <h3>I love: {{ value }}</h3>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
</body>
</html>
