<h1>MiniCalc o shitttt WAAADDUUUUPPP!?!?!</h1>

<h2>Select operator</h2>
<div ng-controller="calcCtrl">
  <form ng-submit="calculate(firstNumber, secondNumber)">
    <select name="" id="" ng-model="operationSelect">
      <option value="add">add</option>
      <option value="subtract">subtract</option>
      <option value="multiply">multiply</option>
      <option value="divide">divide</option>
      <option value="power">power</option>
    </select>
    <div><input type="number" ng-model="firstNumber"></div>
    <div><input type="number" ng-model="secondNumber"></div>
    <input type="submit">
  </form>
  <div>{{view.answer}}</div>
</div>
<iframe width="420" height="315"
src="https://www.youtube.com/v/pCOb6Fykxz0">
</iframe>
